/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 100vh;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

/* BANNIERE DU MODE EDITION UNE FOIS CONNECTÉ */
.edition-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 59px;
  color: white;
  gap: 10px;
  border: 1px solid black;
  line-height: 59px;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  margin: 50px 0;
}
section {
  margin: 60px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

/* ? ********************************************** NAVIGATION *********************************************** */

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}
nav li {
  padding: 0 10px;
  font-family: "work sans", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: black;
}

.logo-instagram i {
  font-weight: bold;
}

.login a {
  color: black;
  font-weight: 500;
}

#login p {
  color: red;
  text-decoration: underline;
}

li a:hover {
  font-weight: bold;
  color: black;
}

/* ?                                                  **********                                                      */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fond-modale {
  width: 100vw;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  position: fixed;
  z-index: 1;
}

/*? ********************************************** FENÊTRES MODALES *****************************************/

.modale {
  flex-direction: column;
  align-items: center;
  position: fixed;
  gap: 15px;
  border-radius: 10px;
  margin: 7% 50%;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  height: 500px;
  background-color: white;
  z-index: 20;
}

.formulaire-ajouts-projets {
  flex-direction: column;
  align-items: center;
  position: fixed;
  gap: 15px;
  border-radius: 10px;
  margin: 7% 50%;
  padding: 15px 100px;
  width: 100%;
  max-width: 600px;
  height: 500px;
  background-color: white;
  z-index: 20;
}

/*? ----------------------------------- STYLE FORMULAIRE D'AJOUTS D'IMAGES ----------------------------------*/

.modale-croix i,
.modale-croix-form i {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 50;
}

.modale-vector-form {
  position: absolute;
  left: 20px;
}

.modale-title-form {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 5px 0px 5px 0px;
}

.modale-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #306685;
  background-color: #e8f1f6;
  width: 100%;
  margin: 10px 0px 10px 0px;
  height: 188px;
  gap: 10px;
}

.modale-form-logo-image {
  justify-content: center;
  max-height: 188px;
}

.modale-form-logo-image i {
  font-size: 75px;
  color: #b9c5cc;
}

.miniature {
  width: 100%;
  max-height: 187px;
}

.formulaire-ajout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}

.formulaire-ajout input {
  width: 100%;
  height: 35px;
  box-shadow: 0px 4px 14px 0px #00000017;
  border: none;
}

.formulaire-ajout select {
  margin-bottom: 20px;
  width: 100%;
  height: 35px;
  box-shadow: 0px 4px 14px 0px #00000017;
  border: none;
}

.modale-form input {
  position: absolute;
  left: 0px;
  top: -2px;
  opacity: 0;
}

.ajout-image-button {
  position: relative;
  font-size: 14px;
  background: #cbd6dc;
  color: #306685;
  border: none;
  padding: 10px 30px;
}

.modale-format-images {
  justify-content: center;
  width: 150px;
  font-size: 10px;
}

.border-grey {
  border-bottom: 2px solid #b3b3b3;
  width: 100%;
}

.submit-form-btn {
  background-color: #b3b3b3;
  margin: 20px 25% 8px 27%;
  padding: 9px 0px;
  width: 46%;
  border: none;
  color: white;
  font-size: 14px;
}

.green {
  background: #1d6154;
}

/* -------------------------------------------------------------- STYLE FENETRE MODALE GALERIE ---------------------------------------------------------*/

.modale-title {
  font-size: 24px;
  font-family: "Work", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.modale-galerie {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 10px;
  border-bottom: 2px solid #b3b3b3;
  width: 74%;
  height: 450px;
  max-height: 80%;
  max-width: 420px;
  overflow: hidden;
  overflow-y: auto;
}

.modale-galerie img {
  z-index: 30;
  object-fit: contain;
  object-position: center;
  width: 76px;
}

.imageLogoContainer {
  position: relative;
}

.modale-galerie i {
  color: white;
  padding: 3px;
  font-size: 10px;
}

.logo-container {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 40;
  border-radius: 2px;
  background-color: black;
}

.modale-galerie-btn {
  border-radius: 25px;
  padding: 8px 30px;
  margin: 10px 0;
  font-size: 14px;
  font-family: "Work", sans-serif;
  background-color: #1d6154;
  color: white;
}

.z10 {
  z-index: 10;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */

#introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  gap: 20px;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 100%;
}

#introduction article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  max-height: 290px;
  overflow-y: auto;
}

article p {
  padding-left: 60px;
  max-width: 404px;
}

#introduction h2 {
  margin-bottom: 1em;
  padding-left: 60px;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galerie-editeur {
  position: absolute;
  color: black;
  font-size: 12px;
  padding: 10px 0 0 20px;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1.5em;
}

.portfolio-filters {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
  gap: 10px;
}

button {
  border: 1px solid #1d6154;
  padding: 7px 18px;
  border-radius: 25px;
  font-weight: 700;
  font-family: "Syne", sans-serif;
  color: #1d6154;
  font-size: 16px;
}

button:focus {
  background-color: #1d6154;
  color: white;
  outline: 0;
}

.gallery {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 17px;
  grid-row-gap: 10px;
}

.gallery img {
  width: 100%;
}

figure {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#login {
  width: 31%;
  margin: auto;
}

#contact {
  width: 50%;
  margin: auto;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 379px;
  margin: 130px 0 250px 0;
}

#login > *,
#contact > * {
  text-align: center;
}

#login h2,
#contact h2 {
  margin-bottom: 20px;
}

#login form {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#login input {
  margin: auto;
  width: 100%;
  height: 51px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input {
  height: 51px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
  width: 100%;
  margin: 2em 0 1em 0;
  font-weight: 500;
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login input[type="submit"],
#contact input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  font-size: 14px;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  height: 36px;
  text-align: center;
  border-radius: 60px;
}

.forgot-password {
  text-decoration: underline;
  color: black;
}

.forgot-password a {
  color: black;
}

footer {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: end;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em 0px 2em 0px;
}
